body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-size: 16px;
    font-family: 'Big Shoulders Stencil', sans-serif;
}

#flex-conteiner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    z-index: 20;
}

#img1 {
    height: 50px;
}

.esp{
    margin-right: 50%;
    font-weight: bold;
    }

.ricerca {
    display: flex;
    background-color: rgb(225 225 225);
    width: 40%;
    height: 64%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    left: 19%;
    top: 19%;
    border-radius: 21px;
    border: 2px solid gray;
    }

.lente-gray{
    position: absolute;
    left: 2%;
    height: 78%;
}

.ric-testo{
    height: 100%;
    width: 100%;
    border-radius: 21px;
    background-color: rgb(225 225 225);
    border: 0px solid transparent;
    font-size: 1.1em;
    padding-left: 9%;
}

.ricerca:hover{
background-color: rgb(155, 155, 155);
border: 2px solid black;
}

.ric-testo:hover{
    background-color: rgb(155, 155, 155);
    }


.menu{
    margin: 0px 16px;
    font-weight: bold;
}

#menu-3linee{
    display: none;
}

.linea{
    background-color: gray;
    width: 25px;
    height: 3px;
    margin: 5px 0;
}

.spec{
    display: flex;
    margin: 0px 8px;
    margin-left: 16px;
    background-color: orangered;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    padding: 8px 12px;
    color: white;
    justify-content: center;
    align-items: center;
}

.spec2{
    display: flex;
    margin: 0px 8px;
    background-color: rgb(214, 213, 211);
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}

.iscr{
    display: flex;
    text-align: end;
}

header{
    text-align: center;
    padding-top: 60px;
}

.int1{
    font-size: 3.1em;
    height: 2.75%;
}

.int2{
    color: orange;
    font-size: 2.48em;
    height: 4.15%;
}

header.gray{
    text-align: center;
    padding-top: 60px;
    height: 19%;
}

.ModNotte{
    background-image: url(imModNotte.png);
    height: 6%;
    width: 2%;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    top: 10%;
    border-radius: 15px;
    border: 2px solid white;
}

.ModGiorno{
    background-image: url(imModGiorno.png);
    height: 6%;
    width: 2%;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    left: 2.5%;
    top: 10%;
    border-radius: 15px;
    border: 2px solid white;
}

.int1Variant{
    font-size: 3.1em;
    height: 2.75%;
    color: white; 
    margin: 1% 0;
}

.menuVariant a{
    color: white;
    text-decoration:none;
    margin: 0px 16px;
    font-weight: bold;
}

.int2Variant{
    color: orange;
    font-size: 2.48em;
    height: 4.15%;
    background-color: rgb(77, 77, 77);
    padding-top: 2%;
}

nav.white{
    background-color: white;
}

.espVariant{
    margin-right: 50%;
font-weight: bold; 
}

.espVariant a{
text-decoration: none;
color: white;
}

.white{
        background-color: white;
}

.gray{
    background-color: rgb(77, 77, 77);
}

.menu-iscrVar{
    display: flex;
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: rgb(77, 77, 77);
    border-radius: 5%;
    left: 60%;
    flex-direction: column;
    align-items: center;
}

#men-iscr .menu-iscrVar{
    left: 36%;
}

.X img {
    width: 75%;
}

.inf img {
    width: 69%;
}

#log img {
    width: 7%;
}

#login .menu-logVar {
    display: flex;
    height: 99%;
    width: 30%;
    background-color: white;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 77, 77);
}

.fineVar {
    background-color: rgb(77, 77, 77);
    height: 5%;
    width: 100%;
    font-size: 0.8em;
}

#img2{
    height: 60%;
    width: 100%;
}

section{
    width: 100%;
}

footer{
    display: flex;
    background-color: rgb(255, 253, 146);
    height: 11%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.fooit{
font-family: 'Big Shoulders Stencil', sans-serif;
}



a{
    color: black;
    text-decoration:none;
}

div.spec a{
    color: white;
}

.menu:hover{
    text-decoration: underline;
}

.menuVariant:hover{
    text-decoration: underline;
    color: white;
}

.spec:hover{
    background-color: rgb(148, 40, 0);
    text-decoration: none;
}

.spec2:hover{
    background-color: rgb(173, 172, 171);
    text-decoration: none;
}

.blue{
    color: rgb(20, 20, 151);
}

.albumim{
    height: 100%;
    width: 1%;
    background-color: gray;
    margin: 0 .4%;
    border-radius: 28px;
}

#selezioneImmagini{
    width: 100%;
    height: 2%;
    display: flex;
    justify-content: center;
    position: absolute;
}

#contenitore{
    display: flex;
    height: 60%;
    align-items: center;
}

.immagini{
    display: flex;
    width: calc(100%/7);
    height: 70%;
    border: 1px solid transparent;
    border-radius: 10%;
    flex-shrink: 0;
}

#im{
    display: flex;
    height: 74%;
    
}

#im img{
    border-radius: 10%;
    border: 1px solid transparent;
    width: calc(100%/7)
}


article{
    background-color: rgb(255, 253, 146);
    height: 100%;
    width: 100%;
    display: flex;

}

.art1{
    display: inline-block;
    height: 100%;
    width: 50%;
}

#area1{
    width: 100%;
    height: 100%;
    position: relative;
}

#im1-2{
display: flex;
position: absolute;
top: 2%;
left: 50%;
width: 25%;
height: 30%;
}

#im2-2{
    display: flex;
    position: absolute;
    top: 20%;
    left: 11%;
    width: 35%;
    height: 40%;
    }

#im3-2{
     display: flex;
     position: absolute;
     top: 47%;
     left: 50%;
    width: 30%;
    height: 35%;
     }

#im4-2{
    display: flex;
    position: absolute;
    top: 15%;
    left: 27%;
    width: 45%;
    height: 60%;
    }

    #scritta{
        display: flex;
        justify-content: end;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .scri{
        background-color: white;
        display: flex;
        width: 39%;
        height: 13%;
        text-align: center;
        border-radius: 60px;
        color: rgb(116, 76, 23);
        position: absolute;
        left: 22%;
        top:  35%;
    }

    .scrih2{
        height: 100%;
         width: 100%;
        text-align: center;
    }

    .scri #lente{
        height: 5px;
        width: 5px;
        padding-top: 10%;
        padding-left: 2%;

    }

    #area2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(195, 25, 82);
        height: 50%;
        text-align: center;
        width: 60%;
        padding-left: 19%;
        font-family: helvetica;
    }

    #area2 h2{
        font-size: 24px;
        font-weight: normal;
    }

    #area2 h1{
        font-size: 60px;
        padding-top: 74%;
    }

    .esp2{
        
        color: white;
        background-color: orangered;
        display: flex;
        width: 100px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

    .esp2:hover{
        background-color: rgb(148, 40, 0);
        text-decoration: none;
    }

    article .art2{
        background-color: rgb(218, 255, 246);
        width: 50%;
        height: 100%;
        display: flex;
    }

    #area1-2{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
    }

    #scritta1{
        font-size: 3.7em;
        color: rgb(0, 107, 108);
        font-weight: bold;
        width: 70%;
    }

    #scritta2{
        font-size: 1.5em;
        color: rgb(0, 107, 108);
        width: 50%;
        padding: 15px 0px;
        
    }

    #area2-2{
        width: 100%;
        height: 100%;
        position: relative;
    }

    #im1-3{
        display: flex;
        width: 50%;
        height: 55%;
        position: absolute;
        top: 4%;
        background-image: url(im1.3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #im2-3{
        display: flex;
        width: 30%;
        height: 31%;
        position: absolute;
        top: 4%;
        left: 62%;
    }

    #im3-3{
        display: flex;
        width: 25%;
        height: 25%;
        position: absolute;
        top: 37%;
        left: 58%;
    }

    #im4-3{
        display: flex;
        width: 35%;
        height: 35%;
        position: absolute;
        top: 69%;
        left: 55%;
    }


    #im5-3{
        display: flex;
        width: 30%;
        height: 30%;
        position: absolute;
        top: 69%;
        left: 23%;
    }

    #overlay{
        background-color: rgb(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20%;
    }

    #scri-im1-3{
        width: 85%;
        position: absolute;
        color: white;
        font-size: 3.5em;
        left: 8%;
        top: 13%;
        font-family: Helvetica;
        font-weight: 500;
    }


    #im1-3-1{
        display: flex;
        width: 30%;
        height: 30%;
        position: absolute;
        top: 62%;
        left: 10%;
    }

    #im1-3-2{
        display: flex;
        width: 30%;
        height: 30%;
        position: absolute;
        top: 62%;
        left: 36%;
    }

    #im1-3-3{
        display: flex;
        width: 30%;
        height: 30%;
        position: absolute;
        top: 62%;
        left: 62%;
    }

    #scri-im2-3{
        width: 65%;
        position: absolute;
        color: white;
        font-size: 1.8em;
        left: 8%;
        top: 45%;
        font-family: Helvetica;
        font-weight: 500;
    }

    #scri-im3-3{
        width: 70%;
        position: absolute;
        color: white;
        font-size: 1.28em;
        left: 8%;
        top: 63%;
        font-family: Helvetica;
        font-weight: 500;
    }

    #scri-im4-3{
        width: 60%;
        position: absolute;
        color: white;
        font-size: 1.8em;
        left: 8%;
        top: 63%;
        font-family: Helvetica;
        font-weight: 500;
    }

    #scri-im5-3{
        width: 70%;
        position: absolute;
        color: white;
        font-size: 1.8em;
        left: 8%;
        top: 55%;
        font-family: Helvetica;
        font-weight: 500;
    }

     article .art3{
        display: flex;
        background-color:  rgb(255, 226, 235);
        width: 50%;
        height: 100%;
        z-index: 1;
        position: relative;
    }

    #im1-4{
        display: flex;
        height: 100%;
        width: 100%;
        background-image: url(im1.4.png);
        background-size: cover;
    }

    #cont-im2-4{
        display: flex;
        height: 50%;
        width: 26%;
        background-color: transparent;
        border-radius: 25px;
        z-index: 3;
        position: absolute;
        left: 15%;
        top: 30%;
        background-size: cover;
        background-image: url(im2.4.png);
    }

    .im3-4{
        display: flex;
        width: 25%;
        height: 25%;
        position: absolute;
        top: 85%;
        left: -20%;
    }

    #scri-art3-area1{
        display: flex;
        width: 70%;
        height: 30%;
        position: absolute;
        color: white;
        top: 104%;
        left: 45%;
        flex-direction: column;
    }

    #flex-conteiner-art3-area2{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #scri1-art3-area2{
        color: rgb(195, 47, 0);
        font-size: 60px;
        font-weight: bold;
        width: 50%;
        text-align: center;
    }

    #scri2-art3-area2{
        color: rgb(195, 47, 0);
        font-size: 24px;
        width: 50%;
        text-align: center;
        margin: 2% 0px;
    }

    article #art4{
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url(im1.5.png);
        background-size: cover;
        font-family: Helvetica, sans-serif;
    }

    #im1-5{
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #overlay-im1-5{
        background-color: rgb(0, 0, 0, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
    }


    #scri-im1-5{
        position: absolute;
        font-size: 4em;
        color: white;
        width: 30%;
        height: 60%;
        font-weight: 500;
        font-family: Helvetica;
        top: 28%;
        left: 15%;
    }

     .menu-iscr{
        display: flex;
        position: absolute;
        height: 100%;
        width: 30%;
        background-color: white;
        border-radius: 5%;
        left: 60%;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        width: 12%;
        height: 8%;
    }

    .scri1-art4
    {
        color: black;
        font-size: 2.2em;
        text-align: center;
        padding-top: 3%;
        font-weight: 600;
    }

    .scri2-art4
    {
        color: black;
        text-align: center;
        padding-top: 3%;
        font-weight: 400;
    }

    .menu-el{
        text-align: start;
        width: 60%;
        height: 55%;
        margin-top: 5%;
    }

    .sezione{
        display: flex;
        width: 95%;
        height: 12%;
        border: 2px solid gray;
        margin: 3% 0;
        border-radius: 20px;
        text-align: start;
        align-items: center;
    }

    .email-testo{
        width: 100%;
        height: 100%;
        border-radius: 18px;
        border: 0px solid transparent;
        padding: 0 3%;
        color: gray;
        font-size: 1.1em;
    }

    .email-testo:visited{
        border: 0px solid transparent;
    }

    .pass-testo{
        width: 100%;
        height: 100%;
        border-radius: 18px;
        border: 0px solid transparent;
        padding: 0 3%;
        color: gray;
        font-size: 1.1em;
    }

    .pass-testo:visited{
        border: 0px solid transparent;
    }

    .data-testo{
        width: 100%;
        height: 100%;
        border-radius: 18px;
        border: 0px solid transparent;
        padding: 0 3%;
        color: gray;
        font-size: 1.1em;
    }

    .data-testo:visited{
        border: 0px solid transparent;
    }

    .data{
        display: flex;
    }

    .sezione div.da{
        color: black;
        
    }

    .sezione div{
        padding-left: 7%;
    }

    .cont{
        display: flex;
        color: white;
        background-color: orangered;
        height: 13%;
        width: 95%;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        border-radius: 30px;
    }

    .cont img {
        height: 66%;
        margin-right: 5%;
    }
        
    .cont:hover {
        background-color: rgb(167, 46, 2);
    }

    .menu-el strong{
        display: flex;
        justify-content: center;
        padding: 2% 0;
    }

    .google .cont{
        background-color: white;
        border: 1px solid lightblue;
        color: gray;
    }

    .sezione:hover{
        border: 2px solid black;
    }

    .inf{
        width: 12%;
        position: relative;
    }

     .inf .box-info p{
        height: 700%;
        width: 600%;
        background-color: black;
        border-radius: 15px;
        position: absolute;
        left: 90%;
        top: -350%;
        color: white;
        font-size: .85em;
        padding: 25%;
        display: none;
    }

    .inf:hover .box-info p{
        display: block;
    }

    .info-reg{
        text-align: center;
        width: 70%;
        font-size: 0.85em;
        color: gray;
        margin-bottom: 4%;
    }

    .info-link{
        color: gray;
        text-decoration: underline;
    }

    .info-link:hover{
        text-decoration: none;
    }


    .accedi2{
        color: gray;
        font-size: 0.85em;

    }


    .fine{
        background-color: white;
        height: 5%;
        width: 100%;
        font-size: 0.8em;
    }

    .info-fine{
        color: black;
        text-decoration: none;
        font-size: .8em;
        font-weight: 600;
        margin-left: 0.6%;
    }

    .info-fine:hover{
        text-decoration: underline;
    }

    #men-iscr.hidden{
        display: none;
    }

    #men-iscr{
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 21;
    }
    
    #men-iscr .menu-iscr{
        display: flex;
        height: 99%;
        width: 30%;
        background-color: white;
        border-radius: 5%;
        flex-direction: column;
        align-items: center;
        left: 35%;
    }

    #men-iscr .info-reg{
        margin: 4% 0;
    }

    .X{
        display: flex;
        position: absolute;
        left: 86.6%;
        top: 1.5%;
    }

    .no-scroll{
        overflow: hidden;
    }

    #login.hidden{
        display: none;
    }

    #login{
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 21;
    }
    
    #login .menu-log{
        display: flex;
        height: 99%;
        width: 30%;
        background-color: white;
        border-radius: 5%;
        flex-direction: column;
        align-items: center;
        left: 40%;
    }

   #log.X2{
        display: flex;
        position: absolute;
        left: 61%;
        top: 2%;
    }

    .contF{
        display: flex;
        height: 13%;
        width: 95%;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        border-radius: 30px;
        background-color: rgb(24, 119, 242);
        color: white;
        margin-top: 5%;
    }

    .tasto-accedi{
        color: gray;
        font-size: 0.85em;
    }

    .tasto-inscr{
        color: gray;
        font-size: 0.85em; 
    }

    #men-3linee-open.hidden{
        display: none;
    }

    #x-menu-3linee.hidden{
        display: none;
    }

    @media(max-width: 500px){
        body{
            font-size: 11px;
        }

        .esp{
            margin: 2% 40% 0 4%;
        }

        .ricerca{
            display: none;
        }

       article{
            flex-direction: column;
       }

       .immagini {
        height: 46%;
        }

        #im{
            display: flex;
            height: 46%;
        }

       article .art1{
        height: 50%;
        width: 100%;
       }

       article .art2{
        height: 50%;
        width: 100%;
       }

       article .art3{
        height: 50%;
        width: 100%;
       }

       #scri1-art3-area2{
        font-size: 45px;
        width: 60%;
    }

    #scri2-art3-area2{
        font-size: 19px;
        width: 50%;
    }

    .scri {
        width: 54%;
        height: 26%;
    }

    #area2 h2{
        font-size: 18px;
    }

    #area2 h1{
        font-size: 40px;
        padding-top: 35%;
        margin: 15px;
    }

    #scri-art3-area1{
        width: 80%;
        height: 30%;
    }

    #overlay{
        width: 84%;
        left: 8%;
    }

    #scri-im1-3 {
        width: 69%;
        font-size: 2.5em;
        left: 13%;
        top: 9%;
    }

    
    #scri-im2-3{

        width: 70%;
        font-size: 1.5em;
        top: 30%;
    }

    #scri-im3-3{
        width: 75%;
        top: 50%;
        left: 4%;
    }

    #scri-im4-3{
        width: 65%;
        top: 31%;
        font-size: 1.7em;
    }

    #scri-im5-3{
        width: 75%;
        top: 30%;
        font-size: 1.6em;
    }

     #flex-conteiner{
        display: none;
     }

    #menu-3linee{
        display: block;
        padding-right: 5%;
    }

    #menu-3linee.hidden{
        display: none;
    }

    #men-3linee-open{
        width: 41%;
        height: 77%;
        background-color: rgb(156, 127, 110);
        position: fixed;
        z-index: 10;
        left: 55%;
        border-radius: 29px;
        top: 10%;
        border: 2px solid black;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
    }

    #men-3linee-open.hidden{
        display: none;
    }

    #x-menu-3linee{
        width: 20%;
        height: 20%;
        position: absolute;
        left: 85%;
        top: 16%;
    }

    #x-menu-3linee.hidden{
        display: none;
    }
    
    #x-menu-3linee img {
        height: 286%;
    }

    .esp2{
        font-size: 1.4em;
    }

    #scri-im1-5{
        font-size: 3.2em;
        top: 39%;
        left: 3%;
    }

    .menu-iscr {
        height: 84%;
        width: 51%;
        left: 48%;
        top: 13%;
    }

    
.inf .box-info p {
    left: -666%;
    height: 1386%;
    width: 621%;
    padding: 39%;
}

    .inf:active .box-info p{
        display: block;
    }

  
    #login .menu-log {
        width: 66%;
    }

    #log.X2{
        left: 68%;
    }

    #men-iscr .menu-iscr {
        left: 17%;
        top: 1%;
        width: 66%;
    }

    .X{
        left: 79%;
    }

    

    .ModGiorno {
        width: 6%;
        left: 5.5%;
        top: 11%;
    }

    .ModNotte {
        width: 5%;
        top: 11%;
    }

    #login .menu-logVar {
        width: 59%;
    }

    #log img {
        width: 23%;
        padding-left: 12%;
    }

    #men-iscr .menu-iscrVar {
        left: 17%;
        width: 71%;
    }

    .menu-iscrVar {
        width: 52%;
        left: 48%;
    }

    .albumim {
        width: 3%;
        margin: 0 1%;
    }
   
}
